<a href="https://colab.research.google.com/github/Yogurt0317/Introductions-to-computers-/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
i=range (5)
print (type (i))
print (i)
print (list(i))

<class 'range'>
range(0, 5)
[0, 1, 2, 3, 4]

In [6]:
a=range (3,8)
print (list(a))
b=range (-2,4)
print (list (b))

[3, 4, 5, 6, 7]
[-2, -1, 0, 1, 2, 3]

In [7]:
d=range(3,8,2)
e=range (8,3,-1)
print (list (d))
print (list(e))

[3, 5, 7]
[8, 7, 6, 5, 4]

In [8]:
f=range (9)
g=range (1,10)
h=range (1,10,2)
i=range (10,1,-2)
print (list (f))
print (list (g))
print (list (h))
print (list (i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [12]:
for n in range (10):
    print (n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [15]:
for n in  range (0,10,2):
    print (n,end=",")

0,2,4,6,8,

In [17]:
test=int(input ("請輸入一個正整數："))
for m in range (1,test+1):
    print (m, end=" ")

請輸入一個正整數：12
1 2 3 4 5 6 7 8 9 10 11 12

In [18]:
sum=0
for n in range (3):
    sum=sum+n
print (sum)

3

In [22]:
sum=0
for n in range (10,1,-2):
    sum=sum+n
print (sum)

30

In [21]:
sum=0
x=int(input ("請輸入一個正整數："))
for x in range(1,x+1):
    sum=sum+x
print(sum)

請輸入一個正整數：10
55