<a href="https://colab.research.google.com/github/Yogurt0317/Introductions-to-computers-/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [8]:
list3=[1,"香蕉",True]
list2=["香蕉","蘋果","橘子"]
list2, list3

(['香蕉', '蘋果', '橘子'], [1, '香蕉', True])

In [11]:
print (list3[-1])

True

In [15]:
list5=[["tom","1234"],["mary","abcd"],["David","5678"]]
print (list5[0])
print (list5[0][1])

['tom', '1234']
1234

In [16]:
score=[85,79,93]
print ("國文成績：%d分"% score [0])
print ("數學成績：%d分"% score [1])
print ("英文成績：%d分"% score [2])

國文成績：85分
數學成績：79分
英文成績：93分

In [20]:
list6=[1,2,3,4,5]
list6[0]=9
print (list6[0])
list6

9

[9, 2, 3, 4, 5]

In [22]:

list8=[123,"蘋果",True]
for s in list8:
    print (s)

123
蘋果
True

In [23]:
print (len(score))

3

In [27]:
for i in range (len(score)):
    print (score [i])

85
79
93

In [28]:
score=[85,79,93]
print ("國文成績：%d分"% score [0])
print ("數學成績：%d分"% score [1])
print ("英文成績：%d分"% score [2])

國文成績：85分
數學成績：79分
英文成績：93分

In [47]:
X=[[1,"Tom"],[2,"Mary"],[3,"Tony"]]
print ("編號：",X[0][0]," 姓名：",X[0][1])
print ("編號：",X[1][0]," 姓名：",X[1][1])
print ("編號：",X[2][0]," 姓名：",X[2][1])

編號： 1  姓名： Tom
編號： 2  姓名： Mary
編號： 3  姓名： Tony